body{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header{
    background: #1F2937;
    color: white;
    padding-bottom: 80px;
}

header nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 45px;
}

ul{
    display: flex;
    margin: 0;
    padding: 0;
    gap: 13px;
    list-style: none;
}

a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    color: #E5E7EB;
}

h1{
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    max-width: 330px;
    margin-bottom: 0;
    padding-bottom: 0;
}

.first-section{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    background: #1F2937;
    padding-bottom: 130px;
}

.first-section a{
    font-weight: 800;
    background: #3882F6;
    font-size: 15px;
    border-radius: 5px;
    padding: 5px 30px;
}


.left-side p{
    margin-top: 0;
    padding-top: 0;
    max-width: 460px;
    font-size: 18px;
    color: #E5E7EB;
}


.right-side section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 470px;
    height: 230px;
    background: gray;
    padding: 0;
    margin: 0;
    margin-top: 28px;
   color: white;
}



.second-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 100px;
}

.second-section .title{
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
}

.second-section .boxes{
    display: flex;
    gap: 50px;
}

.second-section .boxes section{
    width: 155px;
    height: 155px;
    border: 4px solid #3882F6;
    border-radius: 15px;
}

.second-section .boxes p{
    max-width: 150px;
}


.third-section{
    background: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 50px;
}

.third-section p{
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    max-width: 800px;
}

.third-section span{
    font-weight: 800;
    font-size: 24px;
    margin-left: auto;
    margin-bottom: 20px;
}

.quote{
    display: flex;
    flex-direction: column;
    gap: 0;
}

.fourth-section{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
}

.fourth-section section{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: #3882F6;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 1000px;
    border-radius: 6px;
}

.fourth-section .left-side p{
    max-width: 490px;
}


.fourth-section .left-side p,.fourth-section .left-side span{
    margin: 0;
    padding: 0;
}

.fourth-section .left-side span{
    font-size: 24px;
    font-weight: 1000;
    color: #E5E7EB;
}

.fourth-section .right-side a{
    font-weight: 800;
    font-size: 15px;
    border: 2px solid #E5E7EB;
    border-radius: 5px;
    padding: 5px 30px;
}


footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1F2937;
    color: white;
    padding: 30px 0;
    font-size: 18px;
    font-weight: 400;
}